<template>
  <div class="msg-container mx-1"
    v-bind:class="{ 
      'flex-row-reverse': msg.type === messageType.MESSAGE_TYPE_SENT,
      'flex-row': msg.type === messageType.MESSAGE_TYPE_INBOX,
    }"
  >
    <div class="flex-column" v-bind:class="{ 
      'msg-sent': msg.type === messageType.MESSAGE_TYPE_SENT,
      'msg-received': msg.type === messageType.MESSAGE_TYPE_INBOX,
      }"
    >
      <div class="body-container">
        <div class="p-2">
          {{ msg.body }} 
        </div>
      </div>
      <span class="time_date"> 11:01 AM    |    June 9</span> 
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { IChatMessage, MessageType } from './models';
const dateFormat = require('dateformat');


export default Vue.extend({
  name: 'ChatMessage',
  props: {
    msg: Object as () => IChatMessage,
  },
  data: () => {
    return {
      messageType : MessageType,
    };
  },
  methods: {
    formatDate(): string {
      return dateFormat(this.msg.date, "dddd, mmmm d, yyyy | h:MM TT");
    },
  }
});
</script>

<style scoped>

.msg-container{
  display: flex;
  margin-bottom: 1rem;
}

.time_date {
  color: #747474;
  font-size: 12px;
  margin: 8px;
  align-self: inherit;

}

/*********************/

.msg-sent {
  display: flex;
  padding-left: 15%;
  align-self: flex-end;
}

.msg-sent .body-container {
  background: #05728f;
  border-radius: 3px;
  font-size: 14px;
  color:#fff;
  align-self: inherit;
}
 
 /*********************/

.msg-received {
  display: flex;
  padding-right: 15%;
  align-self: flex-start;
}

.msg-received .body-container {
  background: #ebebeb;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  align-self: inherit;
}

</style>
