<template>
  <div class="mesgs d-flex flex-column">
    <div class="msg_history">
      <ChatMessage v-for="(msg, index) in msgs" v-bind:key="index" v-bind:msg="msg" />
    </div>
    <div class="type_msg">

      <div class="input_msg_write d-flex flex-row">
        <input type="text" class="write_msg" placeholder="Type a message" />
        
        <div class="d-flex flex-column-reverse">
          <button class="msg_send_btn" type="button">
            <font-awesome-icon icon="location-arrow" style="transform: rotate(42deg);" />
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ChatMessage from './ChatMessage.vue';
import { IChatMessage, MessageType } from './models';


export default Vue.extend({
  name: 'Chat',
    components: {
    ChatMessage,
  },
  data: function () {
    return {
      msgs : [
        { type : MessageType.MESSAGE_TYPE_INBOX, body: "Lorem ", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_INBOX, body: "xcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_SENT, body: " totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_SENT, body: "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt..", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_INBOX, body: "ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born  ", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_INBOX, body: "xcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_SENT, body: "Lorem ", date: new Date() },
        { type : MessageType.MESSAGE_TYPE_INBOX, body: "xcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", date: new Date() },
      ] as IChatMessage[],
    }
  },
});
</script>

<style scoped>
.mesgs {
  border: 1px solid #ccc!important;
  max-height: 100%;
}
.msg_history {
  max-height: 89%;
  overflow-y: auto;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 4px;
}

</style>
