<template>
  <div class="container py-3" >
    <Chat style="
    height: 400px;"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Chat from '@/components/chat/Chat.vue'; // @ is an alias to /src

export default Vue.extend({
  name: 'home',
  components: {
    Chat,
  },
});
</script>
